//Shadows

@mixin shadow1 {
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}
@mixin shadow2 {
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 1px 2px rgba(0, 0, 0, 0.24);
}

// gradients
@mixin background-gradient {
  background: $primary-dark;
  background: linear-gradient(16deg, $primary-dark 0%, $primary 100%);
}

//radius
@mixin top-radius {
  border-top-left-radius: $radius-main;
  border-top-right-radius: $radius-main;
}

@mixin bottom-radius {
  border-top-left-radius: $radius-main;
  border-top-right-radius: $radius-main;
}

@mixin main-radius {
  border-radius: $radius-main;
}


